<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="|${#temporals.format(date, 'yyyy/M/d')}の会議室|">2020/6/3の会議室</title>
    </head>
    <body>
        <h3>会議室</h3>
        <a id="prevDays" th:href="@{'/rooms/' + ${date.minusDays(1)}}">&lt; 前日</a>
        <span th:text="|${#temporals.format(date, 'yyyy/M/d')}の会議室|">2020/6/3の会議室</span>
        <a id="nextDays" th:href="@{'/rooms/' + ${date.plusDays(1)}}">&gt; 翌日</a>

        <ul>
            <li th:each="room : ${roomList}">
                <a th:href="@{/reservations/{date}/{roomId}(date=${date}, roomId=${room.roomId})}"
                   th:text="${room.roomName}">会議室の名前</a>
            </li>
        </ul>
        <form th:action="@{/logout}" method="post">
            <button id="logoutButton" type="submit">ログアウト</button>
        </form>
    </body>
</html>